*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e2ddeb;
}

.header{
    height: 120px;
    width: 100vw;
    background-color: #54c242;
}

.button1{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 80px;
    border: 5px solid #000000;
    border-radius: 9px;
    background: #54c242;
    text-shadow: #000000 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    left: 352px;
    top: 300px;
}
.buttonLogin:hover,
.buttonLogin:active,
.buttonLogin:focus {
    color: #000000;
    text-decoration: none;
}

.button2{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 80px;
    border: 5px solid #000000;
    border-radius: 9px;
    background: #54c242;
    text-shadow: #000000 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    left: 352px;
    top: 400px;
}
.buttonLogin:hover,
.buttonLogin:active,
.buttonLogin:focus {
    color: #000000;
    text-decoration: none;
}

.button3{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 80px;
    border: 5px solid #000000;
    border-radius: 9px;
    background: #54c242;
    text-shadow: #000000 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    left: 352px;
    top: 500px;
}
.buttonLogin:hover,
.buttonLogin:active,
.buttonLogin:focus {
    color: #000000;
    text-decoration: none;
}

.headerText{
    position: relative;
    color:white;
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 40px;
    padding: 35px;
}

.middleRect{
    background-color: white;
    height: 100%;
    width:20px;
    margin-left: 50%;
    margin-top: -115px;
}

.middleCircle:after{
    content: ' \25CF';
    font-size: 100px;
    color: white;
    margin-left: -20px;
}

.bodyContainer{
    margin-top: 5%;
}

.bodyText{
    font-family: Garamond;
    font-size: 20px;
    font-weight: bold;
}

.playerImg{
    margin-left: 2%;
    margin-bottom: 30px;
    width: 40px;
    height: 40px;
}

#navigation {
    width: 250px;
    font-family: Arial;
    font-size: 20px;
    font-weigth: bold;
    margin-top: 20px;
}

#navigation li {
    border-bottom: 30px solid #e2ddeb;
}
#navigation li a:link, #navigation li a:visited {
    display: block;
    padding: 5px 5px 5px 0.5em;
    background-color: #ededed;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-top: 1.7vh;
}
#navigation li a:hover {
    background-color: dodgerblue;
    color: lime;
}

#navigation li1 a:link, #navigation li1 a:visited {
    display: block;
    padding: 5px 5px 5px 0.5em;
    background-color: lightgreen;
    color: black;
    text-decoration: none;
    text-align: center;
    border-bottom: 30px solid #e2ddeb;
}
#navigation li1 a:hover {
    background-color: dodgerblue;
    color: lime;
}

.line{
    margin-left: 250px;
    border-left: 2px solid black;
    height: 82vh;
    margin-top: -492px;
}

.bodyContainer{
    padding: 0;
    margin-top: -81vh;
    margin-left: 250px;
}

.title{
    margin-left: 5vw;
    font-family: "Arial Black";
    font-size: 40px;
}
.tabela{
    margin-left: 5vw;
    font-family: "Arial Black";
}


.backButton{
    top:700px;
    font-size: 25px;
    text-decoration: none;
    text-decoration-color: black;
    padding: 5px 20px 5px 20px;
    background-color: ghostwhite;
    border-style: ridge;
    border-color: black;
    border-radius: 6px;
    width:60px;
}

.classforButton{
    margin-left: 60vw;
}

td{
    border: 1px #000000 solid;
    background-color: #FFFFFF;
    padding: 5px;
    cursor: crosshair;
}
td:hover{
    background-color: blue;
}

.tournments{
    display: block;
    margin-top: 50px;
    margin-left: 6vw;
    height: 50vh;
    overflow-y: scroll;
    width:410px;
}