*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e2ddeb;
}

.header{
    height: 120px;
    width: 100vw;
    background-color: #54c242;
}

.classforButton{
    margin-left: 60vw;
}

.headerText{
    position: relative;
    color:white;
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 40px;
    padding: 35px;
}
.bodyText{
    font-family: Garamond;
    font-size: 20px;
    font-weight: bold;
}


.middleRect{
    background-color: white;
    height: 100%;
    width:20px;
    margin-left: 50%;
    margin-top: -115px;
}

.middleCircle:after{
    content: ' \25CF';
    font-size: 100px;
    color: white;
    margin-left: -20px;
}

.title{
    margin-left: 20vw;
    font-family: "Arial Black";
    font-size: 40px;
    margin-top:150px;

}

.playerImg{
    margin-left: 2%;
    margin-bottom: 30px;
    width: 40px;
    height: 40px;
}

#navigation {
    width: 250px;
    font-family: Arial;
    font-size: 20px;
    font-weigth: bold;
    margin-top: 20px;
}

#navigation li {
    border-bottom: 30px solid #e2ddeb;
}
#navigation li a:link, #navigation li a:visited {
    display: block;
    padding: 5px 5px 5px 0.5em;
    background-color: #ededed;
    color: black;
    text-decoration: none;
    text-align: center;
}
#navigation li a:hover {
    background-color: dodgerblue;
    color: lime;
}

#navigation li1 a:link, #navigation li1 a:visited {
    display: block;
    padding: 5px 5px 5px 0.5em;
    background-color: lightgreen;
    color: black;
    text-decoration: none;
    text-align: center;
    border-bottom: 30px solid #e2ddeb;
}
#navigation li1 a:hover {
    background-color: dodgerblue;
    color: lime;
}

input{
    margin-top:20px;
}

.form{
    font-family: Garamond;
    font-size: 25px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 10vw;
}
/*.equipa_2{
    margin-top: -10px;
    margin-left: 200px;
}
.equipa_1{
    margin-top: 40px;
}*/

.campo{
    margin-left: 5px;
}
.dia{
    margin-left: 5px;
}
.hora{
    margin-left: 5px;
}
input[type=text],select{
    padding: 12px 35px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.backButton{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 80px;
    border: 5px solid #000000;
    border-radius: 9px;
    background: #54c242;
    text-shadow: #000000 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    top: 600px;
    margin-left: 400px;
}
.backButton:hover,
.backButton:active,
.backButton:focus {
    color: #000000;
    text-decoration: none;
}

.buttonExpulsar{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 80px;
    border: 5px solid #000000;
    border-radius: 9px;
    background: #54c242;
    text-shadow: #000000 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    top: 350px;
    margin-left: 150px;
}
.buttonExpulsar:hover,
.buttonExpulsar:active,
.buttonExpulsar:focus {
    color: #000000;
    text-decoration: none;
}

.buttonExpulsar1{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 80px;
    border: 5px solid #000000;
    border-radius: 9px;
    background: #54c242;
    text-shadow: #000000 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    top: 470px;
    margin-left: 150px;
}
.buttonExpulsar1:hover,
.buttonExpulsar1:active,
.buttonExpulsar1:focus {
    color: #000000;
    text-decoration: none;
}

.buttonExpulsar2{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 80px;
    border: 5px solid #000000;
    border-radius: 9px;
    background: #54c242;
    text-shadow: #000000 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    top: 250px;
    margin-left: 570px;
}
.buttonExpulsar2:hover,
.buttonExpulsar2:active,
.buttonExpulsar2:focus {
    color: #000000;
    text-decoration: none;
}

.buttonExpulsar3{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 80px;
    border: 5px solid #000000;
    border-radius: 9px;
    background: #54c242;
    text-shadow: #000000 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    top: 350px;
    margin-left: 570px;
}
.buttonExpulsar3:hover,
.buttonExpulsar3:active,
.buttonExpulsar3:focus {
    color: #000000;
    text-decoration: none;
}

.buttonExpulsar4{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 80px;
    border: 5px solid #000000;
    border-radius: 9px;
    background: #54c242;
    text-shadow: #000000 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    top: 470px;
    margin-left: 570px;
}
.buttonExpulsar4:hover,
.buttonExpulsar4:active,
.buttonExpulsar4:focus {
    color: #000000;
    text-decoration: none;
}

.buttonMarcar{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 80px;
    border: 5px solid #000000;
    border-radius: 9px;
    background: #54c242;
    text-shadow: #000000 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    top: 230px;
    margin-left: 150px;
}
.buttonMarcar:hover,
.buttonMarcar:active,
.buttonMarcar:focus {
    color: #000000;
    text-decoration: none;
}

.buttonTable{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 80px;
    border: 5px solid #000000;
    border-radius: 9px;
    background: #54c242;
    text-shadow: #000000 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    top: 100px;
    margin-left: 200px;
}
.buttonTable:hover,
.buttonTable:active,
.buttonTable:focus {
    color: #000000;
    text-decoration: none;
}

.buttonCal{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 80px;
    border: 5px solid #000000;
    border-radius: 9px;
    background: #54c242;
    text-shadow: #000000 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    top: 500px;
    margin-left: 200px;
}
.buttonTable:hover,
.buttonTable:active,
.buttonTable:focus {
    color: #000000;
    text-decoration: none;
}

.bodyContainer {
    padding: 0;
    margin-top: -81vh;
    margin-left: 250px;
}